In [19]:
import pymysql
import mysql.connector 
import pandas as pd
import json
import streamlit as st

In [20]:
customers = pd.read_csv("bank transtract - Copy/customers.csv")
accounts = pd.read_csv("bank transtract - Copy/accounts.csv")
transactions = pd.read_csv("bank transtract - Copy/transactions.csv")
branches = pd.read_csv("bank transtract - Copy/branches.csv")
loans = pd.read_csv("bank transtract/loans.csv")
support_tickets = pd.read_csv("bank transtract - Copy/support_tickets.csv")
credit_cards = pd.read_json("bank transtract - Copy/credit_cards.json")

In [21]:
customers.head()

,customer_id,name,gender,age,city,account_type,join_date
0,C0001,Richard Wilson,M,65,Kimberlyburgh,Savings,8/27/2023
1,C0002,Holly Parker,F,41,Port David,Current,12/8/2023
2,C0003,Megan Alvarez,M,46,West Laurieton,Savings,5/25/2022
3,C0004,Nicholas Stewart,F,39,Amyville,Current,11/30/2020
4,C0005,Douglas Anderson,M,70,New Craigport,Current,1/29/2023

In [22]:
customers.isnull().sum()

customer_id     0
name            0
gender          0
age             0
city            0
account_type    0
join_date       0
dtype: int64

In [25]:
conn= pymysql.connect(
    host="localhost",
    user="root",
    password="zeenathasma@733",
    database="banksight"
)
cursor=conn.cursor()

In [26]:
print(type(conn))

<class 'pymysql.connections.Connection'>

In [27]:
cursor.execute("CREATE DATABASE IF NOT EXISTS customer_data")
print("✅ Database created or already exists.")

✅ Database created or already exists.

In [29]:
#CUSTOMERS
cursor.execute("""
CREATE TABLE IF NOT EXISTS customers (
    customer_id VARCHAR(10) PRIMARY KEY,
    name VARCHAR(50),
    gender CHAR(1),
    age INT,
    city VARCHAR(50),
    account_type VARCHAR(20),
    join_date DATE
)
               """)
 #ACCOUNTS_BALANCES
cursor.execute("""
CREATE TABLE IF NOT EXISTS account_balances (
  customer_id VARCHAR(50) PRIMARY KEY,
  account_balance DECIMAL(15,2),
  last_updated DATE,
  CONSTRAINT fk_acc_customer
    FOREIGN KEY (customer_id)
    REFERENCES customers(customer_id)
                 )
                 """)
#TRANSACTIONS
cursor.execute("""
               CREATE TABLE IF NOT EXISTS transactions (
  txn_id VARCHAR(50) PRIMARY KEY,
  customer_id VARCHAR(50),
  txn_type VARCHAR(50),
  amount DECIMAL(15,2),
  txn_time DATETIME,
  status VARCHAR(30),
  CONSTRAINT fk_txn_customer
    FOREIGN KEY (customer_id)
    REFERENCES customers(customer_id)
               )
               """)
#LOANS
cursor.execute("""
               CREATE TABLE IF NOT EXISTS loans (
  loan_id INT PRIMARY KEY,
  customer_id VARCHAR(50),
  account_id VARCHAR(50),
  branch VARCHAR(100),
  loan_type VARCHAR(50),
  loan_amount INT,
  interest_rate DECIMAL(5,2),
  loan_term_months INT,
  start_date DATE,
  end_date DATE,
  loan_status VARCHAR(30),
  CONSTRAINT fk_loan_customer
    FOREIGN KEY (customer_id)
    REFERENCES customers(customer_id))
               """)
#CREDIT_CARDS
cursor.execute("""
               CREATE TABLE IF NOT EXISTS credit_cards (
  card_id INT PRIMARY KEY,
  customer_id VARCHAR(50),
  account_id VARCHAR(50),
  branch VARCHAR(100),
  card_number VARCHAR(30),
  card_type VARCHAR(50),
  card_network VARCHAR(30),
  credit_limit INT,
  current_balance DECIMAL(15,2),
  issued_date DATE,
  expiry_date DATE,
  status VARCHAR(30),
  CONSTRAINT fk_card_customer
    FOREIGN KEY (customer_id)
    REFERENCES customers(customer_id))
               """)
#BRANCHES
cursor.execute("""
              CREATE TABLE IF NOT EXISTS branches (
  branch_id INT PRIMARY KEY,
  branch_name VARCHAR(150),
  city VARCHAR(100),
  manager_name VARCHAR(100),
  total_employees INT,
  branch_revenue DECIMAL(15,2),
  opening_date DATE,
  performance_rating INT)
              """)
#SUPPORT_TICKETS
cursor.execute("""CREATE TABLE IF NOT EXISTS support_tickets (
  ticket_id VARCHAR(50) PRIMARY KEY,
  customer_id VARCHAR(50),
  account_id VARCHAR(50),
  loan_id VARCHAR(50),
  branch_name VARCHAR(150),
  issue_category VARCHAR(100),
  description TEXT,
  date_opened DATE,
  date_closed DATE,
  priority VARCHAR(20),
  status VARCHAR(30),
  resolution_remarks TEXT,
  support_agent VARCHAR(100),
  channel VARCHAR(30),
  customer_rating INT,
  CONSTRAINT fk_ticket_customer
    FOREIGN KEY (customer_id)
    REFERENCES customers(customer_id)
)""")

0

In [30]:
for _, row in customers.iterrows():
    cursor.execute
    ("""
        INSERT INTO customers ('customer_id', 'name, gender', 'age', 'city', 'account_type', 'join_date')
        VALUES ( %s , %s , %s , %s , %s , %s , %s )
    """, (row['customer_id'], row['name'], row['gender'], row['age'], row['city'], row['account_type'], row['join_date']))

conn.commit()

In [31]:
for _, row in accounts.iterrows():
    cursor.execute
    ("""
         INSERT INTO accounts ('customer_id','account_balance','last_updated')
     VALUES ( %s , %s , %s )
     """, (row['customer_id'], row['account_balance'], row['last_updated']))
     
    
conn.commit()

In [32]:
for _, row in transactions.iterrows():
    cursor.execute
    ("""
                   INSERT INTO transactions('txn_id','customer_id','txn_type','amount','txn_time','status')
      VALUES(%s , %s , %s , %s , %s , %s)
     """,(row['txn_id'],row['customer_id'],row['txn_id'],['amount'],row['txn_time'],row['status'])  
    )
    conn.commit()

In [33]:
for _, row in loans.iterrows():
    cursor.execute
    ("""
                   INSERT INTO loans ('Loan_ID','Customer_ID','Account_ID','Branch','Loan_Type','Loan_Amount','Interest_Rate','Loan_Term_Months','Start_Date', 'End_Date', 'Loan_Status')
     VALUES ( %s , %s , %s , %s , %s , %s , %s , %s , %s , %s , %s )
     """,(row ['Loan_ID'], row ['Customer_ID'], row ['Account_ID'], row ['Branch'], row ['Loan_Type'], row ['Loan_Amount'], row ['Interest_Rate'], row ['Loan_Term_Months'], row ['Start_Date'], row ['End_Date'], row ['Loan_Status']))
    
    conn.commit()

In [34]:
for _, row in branches.iterrows():
    cursor.execute
    ("""
     INSERT INTO branches ('Branch_ID','Branch_Name','City','Manager_Name','Total_Employees','Branch_Revenue','Opening_Date','Performance_Rating')
     VALUES ( %s , %s , %s , %s , %s ,%s , %s , %s )
     """, ( row['Branch_ID'], row['Branch_Name'], row['City'], row['Manager_Name'], row['Total_Employees'], row['Branch_Revenue'], row['Opening_Date'], row['Performance_Rating'])
     )
    conn.commit()

In [36]:
for _, row in support_tickets.iterrows():
    cursor.execute
    ("""
    INSERT INTO support_tickets ('Ticket_ID',	'Customer_ID',	'Account_ID',	'Loan_ID',	'Branch_Name',	'Issue_Category',	'Description',	'Date_Opened',	'Date_Closed',	'Priority',	'Status',	'Resolution_Remarks',	'Support_Agent',	'Channel',	'Customer_Rating')
    VALUES ( %s , %s , %s , %s , %s , %s , %s , %s , %s , %s , %s , %s , %s , %s ,%s)
    """, ( row['Ticket_ID'], row	['Customer_ID'],	row['Account_ID'],	row['Loan_ID'],	row['Branch_Name'],	['Issue_Category'],	row['Description'],	row['Date_Opened'],	row['Date_Closed'],	row['Priority'],	row['Status'],	row['Resolution_Remarks'],	row['Support_Agent'],   row	['Channel'], row['Customer_Rating'])
    )
    conn.commit()

In [37]:
for _, row in credit_cards.iterrows():
    cursor.execute
    ("""
          INSERT INTO credit_cards ('Card_ID' , 'Customer_ID' , 'Account_ID' , 'Branch' , 'Card_Number'  , 'Card_Type' , 'Card_Network' , 'Credit_Limit' , 'Current_Balance' , 'Issued_Date' , 'Expiry_Date' , 'Status')
     VALUES ( %s , %s , %s , %s , %s , %s , %s , %s , %s , %s , %s , %s)
     """, ( row['Card_ID'], row['Customer_ID'], row['Account_ID'], row['Branch'], row['Card_Number'], row['Card_Type'] , row['Card_Network'], row['Credit_Limit'], row['Current_Balance'], row['Issued_Date'], row['Expiry_Date'], row['Status'])
    )
    conn.commit()

In [38]:
from tabulate import tabulate

In [39]:
Query ="""
    SELECT customers.CITY,
COUNT(customers.customer_id)AS
TOTAL_CUSTOMERS,
AVG(account_balances.account_balance)AS
AVERAGE_BALANCES
FROM customers
LEFT JOIN account_balances
ON customers.customer_id=account_balances.customer_id
group by customers.city;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["CITY","CUSTOMERS","AVERAGE ACCOUNT BALANCE"]
print("How Many Customers Exist Per City,And What is their Average Account Balance?")
print(tabulate(result,headers=headers))

How Many Customers Exist Per City,And What is their Average Account Balance?
CITY                     CUSTOMERS    AVERAGE ACCOUNT BALANCE
---------------------  -----------  -------------------------
Kimberlyburgh                    1                  293730
Port David                       3                  209839
West Laurieton                   1                  170156
Amyville                         1                  311384
New Craigport                    1                   60320.8
North Cody                       1                   14846.8
Kristaborough                    1                  291737
Port Jenniferton                 1                    1669.73
Port Nathan                      1                  118054
Banksburgh                       1                   31868.5
Kinghaven                        1                  498317
Donnaton                         1                  180349
West Williamview                 1                  279180
Raymondtown                      1                  272658
Terryside                        1                  373720
Zacharyport                      1                  208294
South Randyshire                 1                  345239
Jaredland                        1                   24724.4
Macdonaldborough                 1                  253086
Randallshire                     1                  139707
South Stephanie                  1                  185054
Smithside                        1                   30066.4
New Jamesville                   1                  447171
Lake Keith                       1                   57757.1
South Jenniferberg               2                  234996
New Nicholas                     1                   17612.2
Johnstad                         1                  342556
North Colleenstad                1                  133670
Smithmouth                       1                  455227
Kaisermouth                      1                  433787
West Steven                      1                  197929
Angelaport                       1                  155480
North Adam                       1                  288608
Antonioborough                   1                  206242
Deborahton                       1                  312048
Murillobury                      1                  125374
North Stephanie                  1                   70103.6
Heathermouth                     1                  394379
West Adrianburgh                 1                  177998
Port Kellystad                   1                  431205
Alexfurt                         1                  403292
Lake Barbarashire                1                   31993.7
East Sarah                       1                  385637
Port Natalie                     1                  222030
Russellshire                     1                  222211
Flynnville                       1                  294020
Saundershaven                    1                   53654.3
Kirkside                         1                  328075
East Rachaelstad                 1                  420146
Kimberlyfort                     2                  405370
Heatherport                      1                  173261
Juliabury                        1                  195239
New Gregory                      1                  402963
Williamsburgh                    1                   18917.8
Kennethborough                   1                   59961.5
New Erika                        1                   62556.2
Russellhaven                     1                  294368
East Adrienne                    1                   45190.4
Kimstad                          1                  441141
North Kennethbury                1                  192239
Shirleyland                      1                  381846
West Scott                       1                  290029
Williamschester                  1                  209573
Lake Amandatown                  1                  140145
Tiffanyton                       1                  346405
Simsmouth                        1                  116863
Phillipsbury                     1                   60868.5
Glennberg                        1                  460905
Sanchezshire                     1                  348468
Christopherport                  1                  407476
East Richard                     1                  312119
Gordonmouth                      1                  125221
Jillhaven                        1                   46917.6
East Jillland                    1                  260053
East Robin                       1                  494700
Dianemouth                       1                  384430
New Kyleberg                     1                  297398
Sanchezmouth                     1                  167193
Angelatown                       1                  200877
Port Gregory                     1                  107541
Lake Shannonchester              1                   13773.9
Thomasberg                       1                  254642
South Danielle                   1                   15939.4
Port Sethshire                   1                   21883.2
North Dustinchester              1                  390869
South Benjamin                   1                  266423
Fergusonview                     1                  175297
East Jenniferburgh               1                  466370
Sanchezport                      1                   56194.9
Lake Jordan                      1                  296372
Jacobmouth                       1                  465910
Randytown                        1                   61991.5
Lake Thomaston                   1                  173905
Jacksonside                      1                  289288
North Kevinfurt                  1                  129600
West Sherry                      1                   76577
South Elizabeth                  1                   38627
East Christine                   1                  218111
New Matthewtown                  1                  341916
Port Gina                        1                  446110
Johnsonborough                   1                  350927
North Lisaland                   1                   55238.8
Port Scotttown                   1                  270828
Perezbury                        1                  473507
East Elizabeth                   1                  134031
Port Michael                     1                  145023
North Teresa                     1                  294219
Allisonville                     1                  390940
Jessicamouth                     3                  312313
Christopherfurt                  1                  296244
Jonesland                        2                  281789
East Elizabethchester            1                   62583.8
New Oscarshire                   1                  328197
Samuelmouth                      1                   53197.1
South Sarah                      1                   11317.5
Lake Josebury                    1                  467327
East Andrew                      1                   48597.4
New Michaelfurt                  1                   36798.1
Taylorbury                       1                  228279
Tiffanytown                      1                  395027
New Jillian                      1                  182899
West Jacquelinemouth             1                  229476
Samanthabury                     1                  345673
Lake Michellechester             1                  431769
Michellefort                     1                  450805
Clarkeview                       1                  174479
Ashleychester                    1                  262278
South Lisa                       1                   53035.8
Micheleland                      2                  305338
Frankberg                        1                  237915
New Noah                         1                  374537
Port Angela                      1                  302865
Russellbury                      2                  333265
East Victoriaside                1                  382344
West John                        1                  198663
Scottville                       1                  169656
West Taylor                      1                  250937
South Jaredton                   1                  385842
Tracyberg                        1                  334433
Nathanielport                    1                   41828.9
Meganborough                     1                  128521
West Paulaville                  1                  467018
Randallfurt                      1                  114166
North Christinaton               1                  479706
South Samuel                     1                   18814.9
North Nancymouth                 1                  245515
Justinborough                    1                  400323
New Michealtown                  1                  107648
Port Roberthaven                 1                  417762
Brendachester                    1                  150338
New Alexandermouth               1                  437255
New Kimberlyshire                1                  127822
Lake Louisside                   1                  192721
South Ravenchester               1                  237859
Christopherburgh                 1                  457105
Hernandezshire                   1                  256045
Brandonstad                      1                  423342
Owensborough                     1                    9870.89
New Jennifertown                 1                   19923.8
Port Larrytown                   1                   69736
West Tommouth                    1                  131565
Jimmyton                         1                  158181
Lake Normafort                   1                  388562
West Coryborough                 1                  234418
Georgeshire                      1                   42554.5
Rodriguezberg                    1                  266004
Lake Joseborough                 1                  108675
Jenniferborough                  1                  457074
Donaldhaven                      1                  171354
West Gregory                     1                   91769.8
West Kevinland                   1                  357740
Watsonbury                       1                  446665
Mccormickfurt                    1                  353746
New Christina                    1                  158424
New Tammy                        1                  419919
Port Phillip                     1                  147879
Joshuatown                       1                  216194
Port Charlesport                 1                  314507
Lake Michael                     2                  174310
North Daniellestad               1                  417100
Port Kennethmouth                1                  325029
Brownview                        2                  374201
Amandabury                       1                  456395
East Mary                        1                  348086
East Lisabury                    1                   11537.5
Wintershaven                     1                  455366
Zacharychester                   1                  311440
Port Audreyview                  1                  175517
Kaylaton                         1                  230195
Juliaview                        1                    2647.41
Lake Kathleenburgh               1                  332406
Deanstad                         1                  310110
Port Williamstad                 1                  400584
Onealview                        1                  251036
East Monica                      1                  369175
Blakefort                        1                  417006
West Ryanshire                   1                    3001.59
Garrettchester                   1                  386504
Port Steven                      1                  262118
West Timothychester              1                  148911
Nicholasburgh                    1                  193295
Thomasborough                    1                  442491
Johnsonfort                      1                   32105.1
East Jennifer                    1                  297078
Amandaberg                       1                  476045
Wareburgh                        1                   21746
Kingville                        1                  418555
Wilsonmouth                      1                  262973
Brookefurt                       1                  386399
Edwardsville                     1                    8111.75
Bellport                         1                  453761
Petersonstad                     1                  461948
Ashleyport                       1                  245870
Margaretburgh                    1                  118509
West William                     1                  461142
North James                      2                  390599
Pattonfort                       1                  264608
East Nicholasport                1                   49009
Port Dakota                      1                    5128.16
West Kendra                      1                  293825
Chenstad                         1                  430296
Rodriguezfort                    1                   95611.8
Harpermouth                      1                  259211
Hammondton                       1                  224896
West Julie                       1                  246050
West Jessicatown                 1                  461714
South Christina                  1                  282328
Gregoryborough                   1                   85673.7
Fergusonborough                  1                   17192.6
New Rachel                       1                   47482.2
Douglasland                      1                  428502
Simpsonhaven                     1                  260784
South Laura                      1                  271793
Waltershire                      1                  341739
Matthewville                     1                  433113
Pagefort                         1                   21705.6
Daltonshire                      1                  121238
South Sydney                     1                   19529.2
North Paul                       1                  243480
Washingtonhaven                  1                  295482
East Sergioborough               1                  158291
Michaelchester                   1                   86315.4
Walkerchester                    1                   60067.7
Williamberg                      1                  265910
New Amy                          1                  155836
Millerton                        1                   47543.2
Lake Sean                        2                  355985
West Patriciatown                1                   25826.8
Lake Anthony                     1                  162877
West Bonnie                      1                  269768
West Zoe                         1                  307193
Christinamouth                   1                  309734
Tanyaborough                     1                  265207
New Richardbury                  1                    8432.95
Garrettburgh                     1                  364428
Woodfort                         1                  434937
New Leslie                       1                  344183
Yanghaven                        1                  163153
Sullivanchester                  1                  319963
South William                    1                  436082
Dustinstad                       1                  259208
South Walter                     1                   92416.3
Pearsonhaven                     1                  369620
Port Amanda                      1                  100272
Bryanmouth                       1                  119157
Kimberlychester                  1                   70884.9
East Jamesview                   1                  292902
Kingview                         1                  148768
North Dalefort                   1                    1862.66
New Ashley                       1                  415709
Port Jennifermouth               1                   76857.6
Ashleyside                       1                  316097
Nathanville                      1                  169888
Singhchester                     1                   89733.8
Donaldstad                       1                  192733
Teresaborough                    1                  237765
West Donnafort                   1                  154578
West Sean                        1                  353262
Danielmouth                      1                  463831
Gutierrezfurt                    1                  442977
West Morganstad                  1                  399767
New Jackson                      1                  464291
Julieport                        1                  362617
Reedville                        1                  311220
Angelaburgh                      1                  427514
Annaview                         1                  245646
Connorview                       1                   96916.7
Brettstad                        1                  434657
Rachelborough                    1                  328673
Emilymouth                       1                   90366.1
Matthewtown                      1                  384648
Port Rebeccaview                 1                  218887
Bryantport                       1                  477357
Port Christopherview             1                  302230
East Kimberlyside                1                   67463.7
Adamtown                         1                   45424.1
Littleburgh                      1                  124942
North Nicholasview               1                  339256
Colemanside                      1                  231148
Port Kathleenview                1                  161010
South Tammie                     1                  364522
New Josephtown                   1                  390813
South Jameshaven                 1                  113683
Lake Kyleborough                 1                  186620
East Elizabethville              1                  281255
Hallstad                         1                  328217
Margaretchester                  1                  498739
South Ethanhaven                 1                  275255
Walkerfurt                       1                  255793
Villanuevafurt                   1                  481747
Robersonside                     1                   65146.7
Port Kathryn                     1                    9131.25
East April                       1                  382354
Priceside                        1                  475406
New Davidshire                   1                   77082.9
Samanthafort                     1                  257706
Bryanthaven                      1                   90428.2
Cookview                         1                  457722
Victoriahaven                    1                  300906
West Chasetown                   1                  438400
Nicoleside                       1                  337417
Richardview                      1                   55366.5
Lake Charles                     1                   10322.8
New Joshua                       1                  268801
Alexanderstad                    1                  383017
Jenningsborough                  1                  407148
Port Megan                       1                  264809
Robinburgh                       1                  359157
North Traci                      1                  326556
North Julie                      1                  379269
Bobbyhaven                       1                  482746
Karenport                        1                   25660.1
South Maxberg                    1                  278113

In [ ]:
Query = """
    SELECT customers.account_type,
SUM(account_balances.account_balance)AS total_balance
FROM customers
JOIN account_balances
ON customers.customer_id=customers.customer_id
GROUP BY customers.account_type
ORDER by total_balance DESC
LIMIT 1;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["ACCOUNT TYPE","HIGHEST TOTAL BALANCE"]
print("Which Account Type Holds the Highest Total Balance?",result)
print(tabulate(result,headers=headers))

Which Account Type Holds the Highest Total Balance?
ACCOUNT TYPE      HIGHEST TOTAL BALANCE
--------------  -----------------------
Current                      3.0998e+10

In [ ]:
Query = """

    select customers.customer_id,
customers.name,
SUM(account_balances.account_balance)
AS total_balance
FROM customers
JOIN account_balances
ON customers.customer_id=account_balances.customer_id
group by customers.customer_id,customers.name
ORDER BY total_balance DESC
LIMIT 10;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["CUSTOMER ID","CUSTOMERS NAME","TOTAL ACCOUNT BALANCE"]
print("Who are the Top 10 Customers By Total Account Balance Across All Account Types?")
print(tabulate(result,headers=headers))

Who are the Top 10 Customers By Total Account Balance Across All Account Types?
CUSTOMER ID    CUSTOMERS NAME        TOTAL ACCOUNT BALANCE
-------------  ------------------  -----------------------
C0314          Amy Nguyen                           498739
C0011          Carolyn Higgins                      498317
C0111          Lisa Russell                         497041
C0392          Amber Williams                       494780
C0077          Audrey Peck                          494700
C0499          Alvin Compton                        484758
C0338          Sharon Bennett DVM                   482746
C0317          Denise Campbell                      481747
C0220          Jeffrey Smith                        481568
C0146          Ann Crosby                           479706

In [41]:
Query = """

    SELECT 
    customers.customer_id,
    customers.name,
    account_balances.account_balance,
    customers.join_date
FROM customers
JOIN account_balances
ON customers.customer_id = account_balances.customer_id
WHERE YEAR(customers.join_date) = 2023
  AND account_balances.account_balance > 100000;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["CUSTOMER_ID","CUSTOMERS_NAME","ACCOUNT BALANCE","OPENED_DATE"]
print("Which Customers Opened Accounts in 2023 with a Balance Above ₹1,00,000?")
print(tabulate(result,headers = headers))

Which Customers Opened Accounts in 2023 with a Balance Above ₹1,00,000?
CUSTOMER_ID    CUSTOMERS_NAME           ACCOUNT BALANCE  OPENED_DATE
-------------  ---------------------  -----------------  -------------
C0001          Richard Wilson                    293730  2023-08-27
C0002          Holly Parker                      150735  2023-12-08
C0007          Jasmine Morris                    291737  2023-10-09
C0017          Jesus Davenport                   345239  2023-06-07
C0021          William Jones                     185054  2023-04-01
C0023          Jennifer Hodges                   447171  2023-02-11
C0028          Adam Jones                        133670  2023-07-19
C0032          John Novak                        155480  2023-10-29
C0034          Vanessa Reese                     206242  2023-10-29
C0046          Virginia Ayala                    294020  2023-05-15
C0051          George Yates                      173261  2023-12-14
C0052          Lori Bautista                     195239  2023-04-02
C0053          Krystal Chaney                    402963  2023-06-15
C0060          Nicole Logan                      192239  2023-03-05
C0065          Michele Murphy                    346405  2023-05-18
C0068          Lisa Gilbert                      460905  2023-05-04
C0077          Audrey Peck                       494700  2023-03-21
C0078          Jason Scott                       384430  2023-12-08
C0079          Michael Ford                      297398  2023-12-25
C0087          Pamela Harrison                   390869  2023-04-26
C0100          Evan Duarte                       218111  2023-10-12
C0102          Crystal Mckenzie                  446110  2023-06-29
C0103          Stephanie Smith                   350927  2023-12-08
C0105          Anna Davis                        270828  2023-09-16
C0107          Julie Weeks                       134031  2023-11-24
C0110          Mrs. Shelby Arroyo                390940  2023-11-08
C0121          Tara Ellis                        228279  2023-05-24
C0123          Paul Willis                       182899  2023-06-21
C0125          Justin Rojas                      345673  2023-01-11
C0128          Erica Brooks                      174479  2023-07-16
C0133          Erica Morrison                    374537  2023-03-14
C0135          Tyler Buchanan                    216729  2023-06-17
C0136          Anthony Ross                      382344  2023-07-04
C0148          Lauren Jones                      245515  2023-01-27
C0149          Jacob Gray                        400323  2023-10-16
C0154          Juan Collier                      127822  2023-04-19
C0158          Andrew Reynolds                   256045  2023-05-29
C0165          Shannon Adams                     388562  2023-01-27
C0166          Christine Garcia                  234418  2023-01-20
C0180          Frank Ware                        314507  2023-01-15
C0189          Chad Murphy                       455366  2023-03-03
C0190          Jennifer Smith                    311440  2023-01-03
C0194          Crystal Rowe                      332406  2023-08-04
C0196          Jo Rich                           400584  2023-05-22
C0198          Stefanie Houston                  369175  2023-05-11
C0204          Patrick Stark                     193295  2023-12-04
C0208          Mr. Jimmy Gonzales MD             476045  2023-11-17
C0218          Caitlin Cook                      118509  2023-10-26
C0224          Dean Lowe                         306670  2023-01-29
C0226          Kelly Kennedy                     430296  2023-01-27
C0232          Peter Bolton                      449801  2023-12-11
C0238          Gloria Abbott                     260784  2023-05-08
C0239          Bryan Garcia                      271793  2023-10-10
C0243          Jason Knox                        121238  2023-06-10
C0255          Dr. Raymond Myers                 162877  2023-05-28
C0259          Matthew Tate                      265207  2023-10-03
C0262          Janet Saunders                    434937  2023-02-14
C0267          Willie Murphy                     259208  2023-03-29
C0273          Stephen Whitney                   292902  2023-04-29
C0283          Katherine Hunt                    154578  2023-04-06
C0286          Joshua Torres                     463831  2023-04-30
C0288          Pamela Weaver                     399767  2023-04-10
C0290          Leslie Mann                       362617  2023-05-19
C0299          Seth Stevens                      218887  2023-09-25
C0301          Christine Roberts                 302230  2023-10-08
C0305          Elijah Hall                       339256  2023-03-05
C0310          Sean Camacho                      113683  2023-07-10
C0311          Jamie Johnson                     186620  2023-09-26
C0313          Christy Phelps                    328217  2023-10-30
C0317          Denise Campbell                   481747  2023-02-08
C0323          Rebecca Pratt                     257706  2023-12-28
C0325          Tiffany Conner                    457722  2023-10-15
C0326          Christina Carpenter               300906  2023-11-12
C0327          David Jones                       438400  2023-07-21
C0328          Carl Sanchez                      337417  2023-09-20
C0341          Bridget Skinner                   378621  2023-02-22
C0346          Michelle Sanchez                  414976  2023-07-31
C0355          Rodney Anthony                    459053  2023-03-19
C0365          Debra West                        387845  2023-02-19
C0367          John Neal                         311196  2023-11-11
C0370          Eric Hayes                        306393  2023-07-04
C0374          Marie Gutierrez                   120551  2023-05-26
C0376          Alex Beard                        189603  2023-02-19
C0378          Krista Foster                     171162  2023-02-12
C0379          Joseph Ruiz                       181962  2023-04-18
C0380          Kelly Payne                       395960  2023-07-21
C0383          Sara Hunt                         463859  2023-05-04
C0385          Natasha Arroyo                    338491  2023-11-15
C0386          Manuel Martinez                   465702  2023-07-27
C0398          Ryan Smith                        221914  2023-09-07
C0401          George Bradshaw                   254378  2023-07-21
C0402          Timothy Berry                     324125  2023-05-06
C0406          Tiffany Gomez                     385756  2023-09-25
C0411          Brendan Williams                  466808  2023-08-04
C0416          Greg Gomez                        251101  2023-01-18
C0418          Carol Bennett                     140163  2023-08-26
C0432          Anthony Maldonado                 195269  2023-08-21
C0433          Luke Bright                       100024  2023-03-07
C0442          Melissa Prince                    267971  2023-10-06
C0444          Caitlyn Sanchez                   192213  2023-10-09
C0448          Randall Martin                    403953  2023-04-06
C0449          Jasmine Cobb                      183201  2023-07-03
C0450          Joseph Walton Jr.                 414122  2023-03-16
C0451          Christopher Young                 132637  2023-03-14
C0453          Kristen Henderson                 414405  2023-09-12
C0468          Kari Jones                        120794  2023-03-30
C0475          Laura Hicks                       267754  2023-12-14
C0476          Daniel Butler PhD                 284739  2023-05-14
C0478          Ryan Jackson                      400752  2023-04-18
C0484          Rodney Cruz                       150039  2023-03-09
C0489          Andrea Austin                     407686  2023-01-28
C0499          Alvin Compton                     484758  2023-06-16
C0500          Emily Brooks                      454128  2023-10-11

In [42]:
Query = """

 SELECT
    transactions.txn_type,
    SUM(amount) AS total_transaction_volume
FROM transactions
GROUP BY txn_type;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["TRANSACTION TYPE","TOTAL TRANSACTION VOLUME"]
print("What is the Total Transaction Volume by Transaction Type?",result)
print(tabulate(result,headers = headers))

What is the Total Transaction Volume by Transaction Type? (('CREDIT', Decimal('300.00')), ('DEBIT', Decimal('300.00')), ('deposit', Decimal('197574827.47')), ('withdrawal', Decimal('151387322.23')), ('transfer', Decimal('50592799.65')), ('online fraud', Decimal('23829502.21')), ('purchase', Decimal('73834033.60')))
TRANSACTION TYPE      TOTAL TRANSACTION VOLUME
------------------  --------------------------
CREDIT                           300
DEBIT                            300
deposit                            1.97575e+08
withdrawal                         1.51387e+08
transfer                           5.05928e+07
online fraud                       2.38295e+07
purchase                           7.3834e+07

In [43]:
Query = """

  SELECT transactions.txn_type,
count(*) as FAILED_TRANSACTIONS
FROM transactions
WHERE status='failed'
group by txn_type;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["TRANSACTION TYPE","FAILED TRANSACTION COUNTS"]
print("How Many Failed Transaction Occured For Each Transaction Type?",result)
print(tabulate(result,headers = headers))

How Many Failed Transaction Occured For Each Transaction Type? (('online fraud', 489), ('deposit', 433), ('withdrawal', 314), ('purchase', 167), ('transfer', 94))
TRANSACTION TYPE      FAILED TRANSACTION COUNTS
------------------  ---------------------------
online fraud                                489
deposit                                     433
withdrawal                                  314
purchase                                    167
transfer                                     94

In [44]:
Query = """

 SELECT transactions.txn_type,
count(amount)as TOTAL_NUMBER_OF_TRANSACTION
FROM transactions
group by txn_type;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["TRANSACTION TYPE","NUMBER OF TRANSACTIONS"]
print("What is the Total Number of Transactions Per Transaction Type?",result)
print(tabulate(result,headers = headers))

What is the Total Number of Transactions Per Transaction Type? (('CREDIT', 1), ('DEBIT', 1), ('deposit', 3921), ('withdrawal', 3065), ('transfer', 1012), ('online fraud', 489), ('purchase', 1513))
TRANSACTION TYPE      NUMBER OF TRANSACTIONS
------------------  ------------------------
CREDIT                                     1
DEBIT                                      1
deposit                                 3921
withdrawal                              3065
transfer                                1012
online fraud                             489
purchase                                1513

In [45]:
Query = """

 SELECT 
    cc.account_id,
    COUNT(*) AS high_value_txn_count
FROM transactions t
JOIN credit_cards cc
    ON t.amount = cc.account_id
WHERE CAST(REPLACE(t.amount, ',', '') AS DECIMAL(10,2)) > 20000
GROUP BY cc.account_id
HAVING COUNT(*) >= 5;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["ACCOUNT NAME","High_value_txn_count"]
print("Which Accounts Have 5 or More High-Value Transactions Above ₹20,000?",result)
print(tabulate(result,headers = headers))

Which Accounts Have 5 or More High-Value Transactions Above ₹20,000? ()
ACCOUNT NAME    High_value_txn_count
--------------  ----------------------

In [46]:
Query = """

 SELECT 
    loan_type,
    AVG(CAST(REPLACE(loan_amount, ',', '') AS DECIMAL(12,2))) AS avg_loan_amount,
    AVG(CAST(REPLACE(interest_rate, '%', '') AS DECIMAL(5,2))) AS avg_interest_rate
FROM loans
GROUP BY loan_type;"""
cursor.execute(Query)
headers = ["LOAN TYPE","AVERAGE AMOUNT" , "INTEREST RATE"]
result = cursor.fetchall()

print("What is the average loan amount and interest rate by loan type ?",result)
print(tabulate(result,headers = headers))

What is the average loan amount and interest rate by loan type ? (('Personal', Decimal('2461543.747826'), Decimal('10.463391')), ('Business', Decimal('2793968.873786'), Decimal('10.625437')), ('Auto', Decimal('2399260.981308'), Decimal('10.532523')), ('Home', Decimal('2344576.661157'), Decimal('10.872479')), ('Education', Decimal('2393947.700935'), Decimal('10.114393')), ('SAVINGS', Decimal('1000000.000000'), Decimal('1.490000')))
LOAN TYPE      AVERAGE AMOUNT    INTEREST RATE
-----------  ----------------  ---------------
Personal          2.46154e+06          10.4634
Business          2.79397e+06          10.6254
Auto              2.39926e+06          10.5325
Home              2.34458e+06          10.8725
Education         2.39395e+06          10.1144
SAVINGS           1e+06                 1.49

In [47]:
Query = """
 
          SELECT 
    loans.customer_id,
    customers.name,
    
    COUNT(*) AS active_approved_loan_count
FROM loans
join customers
on loans.customer_id=loans.customer_id
WHERE loan_status IN ('Active', 'Approved')
GROUP BY customer_id,name
HAVING COUNT(*) > 1;"""
cursor.execute(Query)
result_10 = cursor.fetchall()
headers = ["CUSTOMER ID","CUSTOMERS NAME" , "ACCOUNT HOLDING COUNT"]
print("Which customers currently hold more than one active or approved loan?",result)
print(tabulate(result,headers = headers))

Which customers currently hold more than one active or approved loan? (('Personal', Decimal('2461543.747826'), Decimal('10.463391')), ('Business', Decimal('2793968.873786'), Decimal('10.625437')), ('Auto', Decimal('2399260.981308'), Decimal('10.532523')), ('Home', Decimal('2344576.661157'), Decimal('10.872479')), ('Education', Decimal('2393947.700935'), Decimal('10.114393')), ('SAVINGS', Decimal('1000000.000000'), Decimal('1.490000')))
CUSTOMER ID      CUSTOMERS NAME    ACCOUNT HOLDING COUNT
-------------  ----------------  -----------------------
Personal            2.46154e+06                  10.4634
Business            2.79397e+06                  10.6254
Auto                2.39926e+06                  10.5325
Home                2.34458e+06                  10.8725
Education           2.39395e+06                  10.1144
SAVINGS             1e+06                         1.49

In [48]:
Query = """

 SELECT 
    c.customer_id,
    c.name,
    SUM(l.loan_amount) AS total_loan
FROM loans l
JOIN customers c
    ON l.customer_id = l.customer_id
WHERE l.loan_status != 'ACTIVE''APPROVED''DEFAULTED'
GROUP BY c.customer_id, c.name
ORDER BY total_loan DESC
LIMIT 5;"""
cursor.execute(Query)
result_11 = cursor.fetchall()
headers = ["CUSTOMER NAMES","HIGH LOAN AMOUNT"]
print("Who are the top 5 customers with the highest outstanding (non-closed) loan amount?",result)
print(tabulate(result, headers = headers))

Who are the top 5 customers with the highest outstanding (non-closed) loan amount? (('Personal', Decimal('2461543.747826'), Decimal('10.463391')), ('Business', Decimal('2793968.873786'), Decimal('10.625437')), ('Auto', Decimal('2399260.981308'), Decimal('10.532523')), ('Home', Decimal('2344576.661157'), Decimal('10.872479')), ('Education', Decimal('2393947.700935'), Decimal('10.114393')), ('SAVINGS', Decimal('1000000.000000'), Decimal('1.490000')))
             CUSTOMER NAMES    HIGH LOAN AMOUNT
---------  ----------------  ------------------
Personal        2.46154e+06             10.4634
Business        2.79397e+06             10.6254
Auto            2.39926e+06             10.5325
Home            2.34458e+06             10.8725
Education       2.39395e+06             10.1144
SAVINGS         1e+06                    1.49

In [49]:
Query = """

 SELECT 
    b.branch_name,
    AVG(l.loan_amount) AS avg_loan_amount
FROM loans l
JOIN branches b
    ON l.branch = l.branch
GROUP BY b.branch_name;"""
cursor.execute(Query)
result_12 = cursor.fetchall()
headers = ["BRANCH","AVERAGE  LOAN AMOUNT"]
print("What is the average loan amount per branch?",result)
print(tabulate(result, headers = headers))

What is the average loan amount per branch? (('Personal', Decimal('2461543.747826'), Decimal('10.463391')), ('Business', Decimal('2793968.873786'), Decimal('10.625437')), ('Auto', Decimal('2399260.981308'), Decimal('10.532523')), ('Home', Decimal('2344576.661157'), Decimal('10.872479')), ('Education', Decimal('2393947.700935'), Decimal('10.114393')), ('SAVINGS', Decimal('1000000.000000'), Decimal('1.490000')))
                BRANCH    AVERAGE  LOAN AMOUNT
---------  -----------  ----------------------
Personal   2.46154e+06                 10.4634
Business   2.79397e+06                 10.6254
Auto       2.39926e+06                 10.5325
Home       2.34458e+06                 10.8725
Education  2.39395e+06                 10.1144
SAVINGS    1e+06                        1.49

In [50]:
Query = """

 SELECT 
    CASE
        WHEN age BETWEEN 18 AND 25 THEN '18–25'
        WHEN age BETWEEN 26 AND 35 THEN '26–35'
        WHEN age BETWEEN 36 AND 45 THEN '36–45'
        WHEN age BETWEEN 46 AND 60 THEN '46–60'
        ELSE '60+'
    END AS age_group,
    COUNT(*) AS customer_count
FROM customers
GROUP BY age_group
ORDER BY age_group;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["AGE","CUSTOMERS COUNT"]
print("How many customers exist in each age group?",result)
print(tabulate(result, headers = headers))

How many customers exist in each age group? (('18–25', 79), ('26–35', 75), ('36–45', 101), ('46–60', 150), ('60+', 95))
AGE      CUSTOMERS COUNT
-----  -----------------
18–25                 79
26–35                 75
36–45                101
46–60                150
60+                   95

In [51]:
Query = """

SELECT
    issue_category,
    AVG(DATEDIFF(date_closed,date_opened)) AS avg_resolution_days
FROM
    support_tickets
WHERE
    date_closed IS NOT NULL
GROUP BY
    issue_category
ORDER BY
    avg_resolution_days DESC;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["CATEGORIES","AVERAGE RESOLUTION TIME" ]
print("Which issue categories have the longest average resolution time?",result)
print(tabulate(result, headers = headers))

Which issue categories have the longest average resolution time? (('Card Not Working', Decimal('18.5000')), ('Mismatch in Account Statement', Decimal('17.9032')), ('Debit Card Delivery Delay', Decimal('17.8148')), ('UPI Payment Failed', Decimal('17.4583')), ('Account Closure Request', Decimal('17.3226')), ('Account Frozen', Decimal('17.1154')), ('Loan Foreclosure', Decimal('16.5833')), ('Cheque Bounce', Decimal('16.0000')), ('EMI Auto-debit Failed', Decimal('15.9762')), ('Online Transfer Failed', Decimal('15.4762')), ('KYC Update Required', Decimal('15.4074')), ('Interest Rate Dispute', Decimal('15.3103')), ('Account Access Issue', Decimal('14.8846')), ('Loan Payment Delay', Decimal('14.7115')), ('Unauthorized Transaction', Decimal('13.1071')))
CATEGORIES                       AVERAGE RESOLUTION TIME
-----------------------------  -------------------------
Card Not Working                                 18.5
Mismatch in Account Statement                    17.9032
Debit Card Delivery Delay                        17.8148
UPI Payment Failed                               17.4583
Account Closure Request                          17.3226
Account Frozen                                   17.1154
Loan Foreclosure                                 16.5833
Cheque Bounce                                    16
EMI Auto-debit Failed                            15.9762
Online Transfer Failed                           15.4762
KYC Update Required                              15.4074
Interest Rate Dispute                            15.3103
Account Access Issue                             14.8846
Loan Payment Delay                               14.7115
Unauthorized Transaction                         13.1071

In [52]:
Query = """

SELECT
    support_agent,
    COUNT(*) AS critical_high_rated_tickets
FROM
    support_tickets
WHERE
    priority = 'Critical'
    AND customer_rating >= 4
    AND status = 'Resolved'
GROUP BY
    support_agent
ORDER BY
    critical_high_rated_tickets DESC
LIMIT 1;"""
cursor.execute(Query)
result = cursor.fetchall()
headers = ["SUPPORT AGENT","HIGH CUSTOMER RATING"]
print("Which support agents have resolved the most critical tickets with high customer ratings (≥4)?",result)
print(tabulate(result, headers = headers))

Which support agents have resolved the most critical tickets with high customer ratings (≥4)? (('Owen Mahajan', 4),)
SUPPORT AGENT      HIGH CUSTOMER RATING
---------------  ----------------------
Owen Mahajan                          4